<%- include('../../shared/includes/head', { pageTitle: 'Your Orders' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Placed!</h1>
    <p>Please, visit <a href="/orders">here</a> to get complete details about your order.</p>
  </main>
<%- include('../../shared/includes/footer') %>